header
    .container
        .header
            .header-social 
                a(href="#")
                    img(src="img/sprites/intermediate-svg/vk.svg") 
                a(href="#")
                    img(src="img/sprites/intermediate-svg/fb.svg")
                a(href="#")
                    img(src="img/sprites/intermediate-svg/twitter.svg")
                a(href="#")
                    img(src="img/sprites/intermediate-svg/ok.svg")
                a(href="#")
                    img(src="img/sprites/intermediate-svg/yt.svg")
                a(href="#")
                    img(src="img/sprites/intermediate-svg/inst.svg")
            .header-logo 
                a(href="#")
                    img(src="img/logo.png", alt="")
                span Все о домашних животных
            .header-account 
                a(href="#")
                    img(src="img/sprites/intermediate-svg/people.svg", alt="")
                    span Личный кабинет
                a(href="#")
                    img(src="img/sprites/intermediate-svg/foot.svg", alt="")
                    span Избранное
        
nav.nav 
    .container 
        .navbar 
            ul 
                li 
                    a(href="#") Животные
                    span
                        img(src="img/sprites/intermediate-svg/vector-bottom.svg", alt="")
                li 
                    a(href="#") Полезное
                    span
                        img(src="img/sprites/intermediate-svg/vector-bottom.svg", alt="")
                li 
                    a(href="#") Видео
                    span
                        img(src="img/sprites/intermediate-svg/vector-bottom.svg", alt="")
                li 
                    a(href="#") Новости
                    span
                        img(src="img/sprites/intermediate-svg/vector-bottom.svg", alt="")
                li 
                    a(href="#") События
                    span
                        img(src="img/sprites/intermediate-svg/vector-bottom.svg", alt="")
                li 
                    a(href="#")    
                        img(src="img/sprites/intermediate-svg/glass.svg", alt="")
            if(isMain)
                .navbar-blocks 
                    .navbar-block
                        .navbar-block__image
                            img(src="img/dogs.jpg", alt="")
                        .navbar-block__text
                            h2.navbar-block__title Добрый великан
                        span.navbar-block__subtitle Самые крупные породы собак
                        .navbar-block__bone
                            img(src="img/sprites/intermediate-svg/bone-red.svg", alt="")
                            span Статьи
                    .navbar-block
                        .navbar-block__image
                            img(src="img/cat.jpg", alt="")
                        .navbar-block__text
                            h2.navbar-block__title Полезное
                            span.navbar-block__subtitle Подборка самых полезных статей о вашем питомце
                        .navbar-block__bone
                            img(src="img/sprites/intermediate-svg/bone-purple.svg", alt="")
                            span Статьи
            
nav.nav-fixed 
    .container 
        .navbar-fixed 
            a(href="#").navbar-fixed__logo
                img(src="img/logo.png", alt="")
            .navbar-fixed__menu 
                ul 
                    li
                        a(href="#") Животные
                    li
                        a(href="#") Полезное
                    li
                        a(href="#") Видео
                    li
                        a(href="#") Новости
                    li
                        a(href="#") События
                    li
                        a(href="#")
                            img(src="img/sprites/intermediate-svg/glass-fixed.svg", alt="")
            .navbar-fixed__account 
                a(href="#") 
                    img(src="img/sprites/intermediate-svg/foot.svg", alt="")
                    span 25
                a(href="#")
                    img(src="img/sprites/intermediate-svg/people.svg", alt="")


        
    