header
    .container
        .header
            .header-social 
                a(href="#")
                    img(src="../src/img/svg/vk.svg") 
                a(href="#")
                    img(src="../src/img/svg/fb.svg")
                a(href="#")
                    img(src="../src/img/svg/inst.svg")
                a(href="#")
                    img(src="../src/img/svg/ok.svg")
                a(href="#")
                    img(src="../src/img/svg/yt.svg")

        
    