extends ../views/layouts/default
block variables
	- var title = "Корзина";
	- var isMain = false;
	
block content
	main
		.cart
			.animals-line
				ul.pets
					+pets-item("Cобаки",1)
					+pets-item("Кошки",2)
					+pets-item("Птицы",8)
					+pets-item("Грызуны",3)
					+pets-item("Хорьки",6)
					+pets-item("Рыбы",10)
					+pets-item("Рептилии",4)
					+pets-item("Амфибии",7)
					+pets-item("Экзотика",9)
			.__top-line
				.breadcrumbs.cart__breadcrumbs
					a(href="#").breadcrumbs-item Интернет-магазин
					a(href="#").breadcrumbs-this__page.breadcrumbs-item  Корзина
				h1.__title Корзина
			.cart__info
				.cart__list
					.item-cart.item-cart_full
						.item-cart__icon
							img(src="./img/product-card/slider-block.png")
						.item-cart__info
							span Royal Canin X-Small Puppy для щенков
							span 800 г
							span 2 шт.
						.item-cart__cost
							span 1190
								span руб.
							span 20 бонусов за покупку
						.item-cart__amount
							span 
							span 1
							span
						.item-cart__price
							span 2380
								span руб.
							span 40 бонусов за покупку
						.item-cart__close
					.item-cart.item-cart_full
						.item-cart__icon
							img(src="./img/product-card/slider-block.png")
						.item-cart__info
							span Royal Canin X-Small Puppy для щенков
							span 800 г
							span 2 шт.
						.item-cart__cost
							span 1190
								span руб.
							span 20 бонусов за покупку
						.item-cart__amount
							span 
							span 1
							span
						.item-cart__price
							span 2380
								span руб.
							span 40 бонусов за покупку
						.item-cart__close
					.item-cart.item-cart_full
						.item-cart__icon
							img(src="./img/product-card/slider-block.png")
						.item-cart__info
							span Royal Canin X-Small Puppy для щенков
							span 800 г
							span 2 шт.
						.item-cart__cost
							span 1190
								span руб.
							span 20 бонусов за покупку
						.item-cart__amount
							span 
							span 1
							span
						.item-cart__price
							span 2380
								span руб.
							span 40 бонусов за покупку
						.item-cart__close
				.cart__footer
					.cart__about
						.cart__cost
							span Стоимость товаров:
							span 4070 руб.
							span 60 бонусов за покупку
						.cart__discount
							span Ваша скидка: 
							span 50 руб.
						.cart__price
							span Цена со скидкой:
							span 
								|	4020
								span руб.
					.cart__buy
						button.continue-shopping Продолжить покупки
						button.order-product Оформить заказ
				.cart__delivery
					.delivery-info
						span.__title Информация о доставке
						.__descr
							span.delivery-info__where Самовывоз в Москве (м. Семёновская)
							span.delivery-info__price Бесплатно
						.__descr
							span.delivery-info__where Доставка по Москве и Московской области
							span.delivery-info__price 200 руб.
						.__descr
							span.delivery-info__where При заказе от 3000 руб. доставка по Москве
							span.delivery-info__price Бесплатно
						a(href="#") Условия доставки в регионы