extends ../views/layouts/default
block variables
	- var title = "Корзина";
	- var isMain = false;
	
block content
	main
		.checkout
			.animals-line
				ul.pets
					+pets-item("Cобаки",1)
					+pets-item("Кошки",2)
					+pets-item("Птицы",8)
					+pets-item("Грызуны",3)
					+pets-item("Хорьки",6)
					+pets-item("Рыбы",10)
					+pets-item("Рептилии",4)
					+pets-item("Амфибии",7)
					+pets-item("Экзотика",9)
			.__top-line
				.breadcrumbs.checkout__breadcrumbs
					a(href="#").breadcrumbs-item Интернет-магазин
					a(href="#").breadcrumbs-this__page.breadcrumbs-item  Оформление заказа
				h1.__title Оформление заказа
				.checkout__line
					.order-line
						.__item(data-text="Регион доставки").order-line__item_active
						.__item(data-text="Способ доставки")
						.__item(data-text="Способ оплаты")
						.__item(data-text="Контактные данные")
						.__item(data-text="Оформить заказ")
			.__body
				.checkout__left
					.order-info.order-info_location
						.__header
							span.order-info__number 1
							span.order-info__title Регион доставки
						.__body
							.order-info__caption Местоположение
							label.order-info__location
								input(type="text" placeholder="Москва, Московская область")
							p.order-info__descr Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"
							.order-info__navigate
								button.order-info__back 
									|	Назад
									<svg width="129" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M128.5 6c0-3.04-2.446-5.5-5.481-5.5H16.564a5.485 5.485 0 00-4.826 2.88l-9.75 18a5.5 5.5 0 000 5.24l9.75 18a5.485 5.485 0 004.826 2.88H123.019c3.035 0 5.481-2.46 5.481-5.5V6z" stroke="#979899" stroke-opacity=".2"/></svg>
								button.order-info__next Далее
				.checkout__right