extends ../views/layouts/default
block variables
	- var title = "Личный кабинет";
	- var isMain = false;
	
block content
	main
		.personal
			.container
				.breadcrumbs
					a(href="#").breadcrumbs-item Главная
					a(href="#").breadcrumbs-this__page.breadcrumbs-item Личный кабинет
				h2.personal-block__title.title-page Личный кабинет
				.personal-tabs#tabs
					ul._mainlist
						li
							a(href="#tabs-main") Основное
						li
							a(href="#tabs-pets") Питомцы
						li
							a(href="#tabs-interests") Интересы
						li
							a(href="#tabs-photo") Фото
						li
							a(href="#tabs-publications") Публикации
						li
							a(href="#tabs-advert") Объявления
						li
							a(href="#tabs-video") Видео
						li
							a(href="#tabs-sub") Подписки
					
					.personal-tabs__boxes
						.personal-tabs__box#tabs-main
							span.personal-box__title Алексей Петров
							form(action="#").personal-box__data
								.personal-photos
									.personal-photo
										.personal-photo__image
											img(src="img/review-img4.jpg", alt="")
										a(href="#").personal-photo__remove Удалить
									.personal-data__photo
										input(type="file", name="#")
										span Добавить фото
								.personal-data__info
									.personal-info__block
										span.personal-info__title Личные данные
										.personal-info__input.input
											input(type="text" id="inputName" class="js-input")
											label(for="inputName" id="label") Имя
										.personal-info__input.input
											input(type="text" id="inputSurname" class="js-input")
											label(for="inputSurname" id="label") Фамилия
										.personal-info__select
											select(name="activity" class="select-activity")
												option(value="1") Мужской
												option(value="2") Женский
										.personal-info__input.input.input-born
											input(type="text" id="inputBorn" class="js-input js-datepicker-personal")
											label(for="inputBorn" id="label") Дата рождения
									.personal-info__block
										span.personal-info__title Адрес
										.personal-info__select
											select(name="activity" class="select-activity")
												option(value="1") Россия
												option(value="2") США
												option(value="3") Китай
										.personal-info__input.input
											input(type="text" id="inputCity" class="js-input")
											label(for="inputCity" id="label") Город
										.personal-info__input.input
											input(type="text" id="inputStreet" class="js-input")
											label(for="inputStreet" id="label") Улица
										.personal-info__input.input
											input(type="text" id="inputHouse" class="js-input")
											label(for="inputHouse" id="label") Дом
									.personal-info__block
										span.personal-info__title Контакты
										.personal-info__input.input
											input(type="text" id="inputPhone" class="js-input")
											label(for="inputPhone" id="label") Мобильный телефон
										.personal-info__input.input
											input(type="text" id="inputPhone2" class="js-input")
											label(for="inputPhone2" id="label") Доп. телефон
										.personal-info__input.input
											input(type="text" id="inputEmail" class="js-input")
											label(for="inputEmail" id="label") Электронная почта
										.personal-info__input.input
											input(type="text" id="inputSkype" class="js-input")
											label(for="inputSkype" id="label") Skype
									.personal-info__block
										span.personal-info__title Социальные сети
										.personal-info__input.input
											input(type="text" id="inputPhone" class="js-input")
											label(for="inputPhone" id="label") 
												i.fab.fa-vk
												span ВКонтакте
										.personal-info__input.input
											input(type="text" id="inputPhone2" class="js-input")
											label(for="inputPhone2" id="label") 
												i.fab.fa-facebook-f
												span Facebook
										.personal-info__input.input
											input(type="text" id="inputEmail" class="js-input")
											label(for="inputEmail" id="label") 
												i.fab.fa-twitter
												span Twitter
										.personal-info__input.input
											input(type="text" id="inputSkype" class="js-input")
											label(for="inputSkype" id="label") 
												i.fab.fa-instagram
												span Instagram
									button(type="submit").personal-data__btn.btn Сохранить
						.personal-tabs__box#tabs-pets
							.page-data__pets
								span.personal-box__title Добавить питомца
								.data-pets
									.pets-photo
										.personal-photo
											.personal-photo__image
												img(src="img/review-img4.jpg", alt="")
											a(href="#").personal-photo__remove Удалить
										.personal-data__photo
											input(type="file", name="#")
											span Добавить фото
									.pets-info
										form(action="#")
											span.personal-info__title Личные данные
											.personal-info__input.input
												input(type="text" id="inputPetName" class="js-input")
												label(for="inputPetName" id="label") Имя
											.personal-info__select
												select(name="activity" class="select-activity")
													option(value="1") Категория питомца
													option(value="2") Категория питомца
													option(value="3") Категория питомца
													option(value="4") Категория питомца
													option(value="5") Категория питомца
											.personal-info__select
												select(name="activity" class="select-activity")
													option(value="1") Окрас
													option(value="2") Окрас
													option(value="3") Окрас
													option(value="4") Окрас
													option(value="5") Окрас
											.personal-info__input.input.input-born
												input(type="text" id="inputPetBorn" class="js-input js-datepicker-personal")
												label(for="inputPetBorn" id="label") Дата рождения
											.personal-info__select
												select(name="activity" class="select-activity")
													option(value="1") Порода
													option(value="2") Порода
													option(value="3") Порода
													option(value="4") Порода
													option(value="5") Порода
											.personal-info__select
												select(name="activity" class="select-activity")
													option(value="1") Характер
													option(value="2") Характер
													option(value="3") Характер
													option(value="4") Характер
													option(value="5") Характер
											.personal-info__textarea
												textarea(type="text" class="pets-info__subtitle" placeholder="Описание")
											a(href="#").pets-info__btn.btn Сохранить
							span.personal-box__title Питомцы
							a(href="#").personal-box__add.js-add_pets
								i.fas.fa-plus 
								span Добавить питомца
							.personal-box__pets
								.personal-pet
									span.personal-pet__name Кузьма
									a(href="#").personal-pet__remove
										i.far.fa-trash-alt
										span Удалить
								.personal-pet
									span.personal-pet__name Барон Освальд фон Доннерсмарк
									a(href="#").personal-pet__remove
										i.far.fa-trash-alt
										span Удалить
								.personal-pet
									span.personal-pet__name Леопольд
									a(href="#").personal-pet__remove
										i.far.fa-trash-alt
										span Удалить
						.personal-tabs__box#tabs-interests
							span.personal-box__title Мои увлечения
							a(href="#").personal-box__add.js-add_pets
								i.fas.fa-plus 
								span Добавить
							.personal-box__hobbies
								.personal-hobbie
									span.personal-hobbie__name Фигурное катание
									a(href="#").personal-hobbie__remove
										i.far.fa-trash-alt
										span Удалить
								.personal-hobbie
									span.personal-hobbie__name Музыка
									a(href="#").personal-hobbie__remove
										i.far.fa-trash-alt
										span Удалить
								.personal-hobbie
									span.personal-hobbie__name Скрапбукинг
									a(href="#").personal-hobbie__remove
										i.far.fa-trash-alt
										span Удалить
							a(href="#").personal-hobbie__btn.btn Сохранить
						.personal-tabs__box#tabs-photo
							span.personal-box__title Мои фото
							a(href="#").personal-box__add.js-add_pets 
								i.fas.fa-plus 
								span Добавить фото
							.personal-box__photos
								.personal-photo
									.personal-photo__image
										img(src="img/review-img4.jpg", alt="")
									a(href="#").personal-photo__remove Удалить
								.personal-photo
									.personal-photo__image
										img(src="img/review-img4.jpg", alt="")
									a(href="#").personal-photo__remove Удалить
								.personal-photo
									.personal-photo__image
										img(src="img/review-img4.jpg", alt="")
									a(href="#").personal-photo__remove Удалить
								.personal-photo
									.personal-photo__image
										img(src="img/review-img4.jpg", alt="")
									a(href="#").personal-photo__remove Удалить
								.personal-photo
									.personal-photo__image
										img(src="img/review-img4.jpg", alt="")
									a(href="#").personal-photo__remove Удалить
								.personal-photo
									.personal-photo__image
										img(src="img/review-img4.jpg", alt="")
									a(href="#").personal-photo__remove Удалить
						.personal-tabs__box#tabs-publications
							span.personal-box__title Мои публикации
							a(href="#").personal-box__add.js-add_pets 
								i.fas.fa-plus 
								span Добавить публикацию
							form(action="#").personal-form__publications
								.personal-box__publications
									select(name="activity" id="activity" class="select-activity")
										option(value="1") Активность публикации
										option(value="2") Активность публикации
										option(value="3") Активность публикации
										option(value="4") Активность публикации
										option(value="5") Активность публикации
									input(type="text" class="publications-input__title" placeholder="Заголовок")
								.personal-box__publications
									.personal-publications__select
										span.personal-select__title Животные, связанные со статьей
										ul
											li.publications-select__item.item-select
												span Черновик
											li.publications-select__item
												span Амфибии
											li.publications-select__item
												span Беспозвоночные
											li.publications-select__item
												span Грызуны
											li.publications-select__item
												span Кошки
											li.publications-select__item
												span Лошади
										span.personal-select__help Выберите несколько, нажав CTRL
									.personal-publications__select
										span.personal-select__title Рубрики
										ul
											li.publications-select__item.item-select
												span Забавное
											li.publications-select__item
												span Защита животных
											li.publications-select__item
												span Здоровье
											li.publications-select__item
												span Интересные факты
											li.publications-select__item
												span История
											li.publications-select__item
												span Общее
										span.personal-select__help Выберите несколько, нажав CTRL
								textarea(type="text" class="publications-input__announcement" placeholder="Анонс")
								textarea(type="text" class="publications-input__preview" placeholder="Текст статьи")
								span.personal-text__photo Фото статьи
								span.personal-text__subtitle Выберите новое фото. Минимальное разрешение 960x640 px. Фото загрузится после нажатия на кнопку «Сохранить».
								a(href="#").personal-box__add.js-add_pets 
									i.fas.fa-plus 
									span Добавить фото
								input(type="text" class="personal-tags" placeholder="Введите теги через запятую")
								a(href="#").personal-publications__btn.btn Сохранить
						.personal-tabs__box#tabs-advert
							span.personal-box__title Мои объявления
							span.personal-box__none У вас пока нет объявлений
							a(href="#").personal-box__add.js-add_pets 
								i.fas.fa-plus 
								span Добавить объявление
						.personal-tabs__box#tabs-video
							span.personal-box__title Мои видео
							span.personal-box__none У вас пока нет видео
							a(href="#").personal-box__add 
								i.fas.fa-plus 
								span Добавить видео
						.personal-tabs__box#tabs-sub
							span.personal-box__title Подписаться на рассылку
							.personal-sub
								input(type="checkbox", name="sub", id="subscribe")
								label(for="subscribe") 
									span Новые статьи
									span Анонсы полезных материалов каждую неделю
									i.fas.fa-check
							a(href="#").personal-sub__btn.btn Подписаться
						
					