extends ../views/layouts/default
block variables
	- var title = "Поставщик услуг";
	- var isMain = false;
	
block content
	main
		.service-provider
			.container
				.breadcrumbs
					a(href="#").breadcrumbs-item Главная
					a(href="#").breadcrumbs-item Услуги
					a(href="#").breadcrumbs-item Ветеринарные услуги
					a(href="#").breadcrumbs-item Хирургия
					a(href="#").breadcrumbs-this__page.breadcrumbs-item  Айленд вет
			.provider
				.__add-favorite
					a(href="#") Сохранить в избранное
				.__content
					.provider__header
						.provider__header-icon
							img(src="./img/service-card-5.png")
						.provider__header-descr
							span Айлендвет
							a(href="#", class="provider__link") http://www.veterinar911.ru/
							.row
								button.btn Заказать звонок
								.phone
									span Телефон
									span +7 (495) 555-555
					.provider__tabs
						#tabs.dog-page-tabs__block
							ul
								li
									a(href="#tabs-1") Общая информация
								li
									a(href="#tabs-2") Адреса и контакты
								li
									a(href="#tabs-3") Отзывы
							#tabs-1
								.provider__tabs-content
									p Ветеринарная клиника Айлендвет – это большой современный ветеринарный госпиталь, оборудованный по последнему слову техники. Мы не только КРУГЛОСУТОЧНО и ежедневно ведем амбулаторный прием кошек, собак, грызунов, птиц и экзотических животных, но и обладаем возможностью, при необходимости, их госпитализировать. Собственная современная лаборатория позволяет проводить диагностику на самом высоком уровне. Для вашего удобства всегда открыта аптека.
									p Персонал Айлендвет – это не просто слаженная команда высококвалифицированных специалистов, но и люди, которые искренне любят все живое. Сами, зачастую, являясь владельцами самых разных питомцев, они прекрасно понимают Ваши проблемы и окажут помощь по самым современным стандартам качества
							#tabs-2
								.provider__tabs-content
									.provider__tabs-content
									p Ветеринарная клиника Айлендвет – это большой современный ветеринарный госпиталь, оборудованный по последнему слову техники. Мы не только КРУГЛОСУТОЧНО и ежедневно ведем амбулаторный прием кошек, собак, грызунов, птиц и экзотических животных, но и обладаем возможностью, при необходимости, их госпитализировать. Собственная современная лаборатория позволяет проводить диагностику на самом высоком уровне. Для вашего удобства всегда открыта аптека.
									p Персонал Айлендвет – это не просто слаженная команда высококвалифицированных специалистов, но и люди, которые искренне любят все живое. Сами, зачастую, являясь владельцами самых разных питомцев, они прекрасно понимают Ваши проблемы и окажут помощь по самым современным стандартам качества
							#tabs-3
								.provider__tabs-content
									.provider__tabs-content
									p Ветеринарная клиника Айлендвет – это большой современный ветеринарный госпиталь, оборудованный по последнему слову техники. Мы не только КРУГЛОСУТОЧНО и ежедневно ведем амбулаторный прием кошек, собак, грызунов, птиц и экзотических животных, но и обладаем возможностью, при необходимости, их госпитализировать. Собственная современная лаборатория позволяет проводить диагностику на самом высоком уровне. Для вашего удобства всегда открыта аптека.
									p Персонал Айлендвет – это не просто слаженная команда высококвалифицированных специалистов, но и люди, которые искренне любят все живое. Сами, зачастую, являясь владельцами самых разных питомцев, они прекрасно понимают Ваши проблемы и окажут помощь по самым современным стандартам качества
			.provider-service
				.__title
					h3 Похожие услуги предлагают
				.__container
					.service__card
						.service__card-icon
							img(src="./img/service-card.png")
						.service__card-title Оберег
						.service__card-descr 0 отзывов
					.service__card
						.service__card-icon
							img(src="./img/service-card.png")
						.service__card-title Оберег
						.service__card-descr 0 отзывов
					.service__card
						.service__card-icon
							img(src="./img/service-card.png")
						.service__card-title Оберег
						.service__card-descr 0 отзывов
					.service__card
						.service__card-icon
							img(src="./img/service-card.png")
						.service__card-title Оберег
						.service__card-descr 0 отзывов
								




