extends ../views/layouts/default
block variables
	- var title = "Поставщик услуг";
	- var isMain = false;
	
block content
	main
		.service-provider
			.container
				.breadcrumbs.service-provider__breadcrumbs
					a(href="#").breadcrumbs-item Главная
					a(href="#").breadcrumbs-item Услуги
					a(href="#").breadcrumbs-item Ветеринарные услуги
					a(href="#").breadcrumbs-item Хирургия
					a(href="#").breadcrumbs-this__page.breadcrumbs-item  Айленд вет
			.provider
				.__add-favorite
					a(href="#") Сохранить в избранное
				.__content
					.provider__header
						.provider__header-icon
							img(src="./img/service-card-5.png")
						.provider__header-descr
							span Айлендвет
							a(href="#", class="provider__link") http://www.veterinar911.ru/
							.row
								button.btn.js-provider-show Заказать звонок
								.phone
									span Телефон
									span +7 (495) 555-555
					.provider__tabs
						#tabs.dog-page-tabs__block
							ul
								li
									a(href="#tabs-1") Общая информация
								li
									a(href="#tabs-2") Адреса и контакты
								li
									a(href="#tabs-3") Отзывы
							#tabs-1
								.provider__tabs-content
									p Ветеринарная клиника Айлендвет – это большой современный ветеринарный госпиталь, оборудованный по последнему слову техники. Мы не только КРУГЛОСУТОЧНО и ежедневно ведем амбулаторный прием кошек, собак, грызунов, птиц и экзотических животных, но и обладаем возможностью, при необходимости, их госпитализировать. Собственная современная лаборатория позволяет проводить диагностику на самом высоком уровне. Для вашего удобства всегда открыта аптека.
									p Персонал Айлендвет – это не просто слаженная команда высококвалифицированных специалистов, но и люди, которые искренне любят все живое. Сами, зачастую, являясь владельцами самых разных питомцев, они прекрасно понимают Ваши проблемы и окажут помощь по самым современным стандартам качества
							#tabs-2
								.provider__tabs-content
									.provider__tabs-content
									p Ветеринарная клиника Айлендвет – это большой современный ветеринарный госпиталь, оборудованный по последнему слову техники. Мы не только КРУГЛОСУТОЧНО и ежедневно ведем амбулаторный прием кошек, собак, грызунов, птиц и экзотических животных, но и обладаем возможностью, при необходимости, их госпитализировать. Собственная современная лаборатория позволяет проводить диагностику на самом высоком уровне. Для вашего удобства всегда открыта аптека.
									p Персонал Айлендвет – это не просто слаженная команда высококвалифицированных специалистов, но и люди, которые искренне любят все живое. Сами, зачастую, являясь владельцами самых разных питомцев, они прекрасно понимают Ваши проблемы и окажут помощь по самым современным стандартам качества
							#tabs-3
								.provider__tabs-content
									.provider__tabs-content
									p Ветеринарная клиника Айлендвет – это большой современный ветеринарный госпиталь, оборудованный по последнему слову техники. Мы не только КРУГЛОСУТОЧНО и ежедневно ведем амбулаторный прием кошек, собак, грызунов, птиц и экзотических животных, но и обладаем возможностью, при необходимости, их госпитализировать. Собственная современная лаборатория позволяет проводить диагностику на самом высоком уровне. Для вашего удобства всегда открыта аптека.
									p Персонал Айлендвет – это не просто слаженная команда высококвалифицированных специалистов, но и люди, которые искренне любят все живое. Сами, зачастую, являясь владельцами самых разных питомцев, они прекрасно понимают Ваши проблемы и окажут помощь по самым современным стандартам качества
			.provider-service
				.produc-modal-wrapper.js-modal-provider
						.product-modal.product-modal_service-provider
							.__title Заказать звонок
							.__descr По указанным контактам с вами свяжутся менеджеры компании
							form.__form
								input(type="phone" placeholder="Ваше номер*" required)
								input(type="email" placeholder="Контактный телефон")
								input(type="text" placeholder="Имя")
								textarea(type="text" placeholder="Комментарий")
								input(type="submit", value="Отправить")
							.__info
								| Нажимая на кнопку, я соглашаюсь на обработку
								a.product-modal__link персональных данных
							.__close
				.__title
					h3 Похожие услуги предлагают
				.__container
					.service__card__wrapper-provider
						.service__card
							.service__card-icon
								img(src="./img/service-card.png")
							a(href="#").service__card-title Оберег
							.service__card-descr 0 отзывов
							.service__card-favorit
									<svg width="20" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.578 5.555c.703 0 1.25.273 1.719.82.469.547.703 1.172.703 1.953 0 .781-.234 1.524-.664 2.227-.469.742-1.016 1.289-1.68 1.64-.742.39-1.445.47-2.148.235.508.625.898 1.25 1.172 1.875.273.625.43 1.21.43 1.758 0 .859-.352 1.484-1.055 1.835-.47.235-1.094.352-1.875.352-.39 0-.82-.04-1.25-.156-.274-.078-.625-.196-1.094-.352-.82-.273-1.445-.43-1.836-.43-.43 0-1.055.157-1.914.43-.547.156-.938.274-1.211.352a5.265 5.265 0 01-1.29.156c-1.093 0-1.835-.273-2.265-.86-.312-.35-.43-.78-.43-1.328 0-.546.118-1.132.391-1.757a7.255 7.255 0 011.211-1.875c-.703.234-1.445.156-2.148-.235-.703-.351-1.25-.898-1.68-1.64A3.904 3.904 0 010 8.328c0-.742.195-1.367.625-1.914.43-.547 1.016-.86 1.797-.86.703 0 1.328.235 1.953.704a4.55 4.55 0 01-.625-2.305c0-.86.234-1.64.742-2.265C4.961 1.063 5.625.75 6.484.75c.938 0 1.72.43 2.422 1.21.586.704.938 1.563 1.094 2.5.117-.937.469-1.796 1.094-2.5.664-.78 1.484-1.21 2.422-1.21.78 0 1.445.313 1.953.938s.781 1.406.781 2.265c0 .781-.234 1.563-.625 2.305a3.077 3.077 0 011.953-.703zM13.516 2c-.625 0-1.172.352-1.641 1.016a3.217 3.217 0 00-.664 1.992c0 .547.117 1.015.39 1.406.235.39.626.586 1.094.586.625 0 1.172-.352 1.64-1.055.43-.625.665-1.289.665-1.992 0-.508-.156-.976-.39-1.367-.274-.39-.626-.586-1.094-.586zM10 5.555c-.117.86-.43 1.484-.898 1.953-.508.469-1.094.742-1.72.742-.624.04-1.25-.156-1.796-.586.273.547.469 1.094.547 1.64.078.587.039 1.133-.156 1.641a8.862 8.862 0 012.07-1.25c.703-.312 1.328-.468 1.953-.468.586 0 1.25.156 1.953.468a9.74 9.74 0 012.07 1.25c-.234-.508-.273-1.054-.195-1.64a4.62 4.62 0 01.586-1.64c-.586.39-1.21.585-1.836.585-.625 0-1.21-.273-1.68-.742-.507-.469-.82-1.094-.898-1.953zM6.484 2c-.468 0-.859.195-1.093.586-.274.39-.391.86-.391 1.367 0 .703.195 1.367.664 1.992C6.133 6.648 6.68 7 7.304 7c.47 0 .821-.195 1.094-.586.235-.39.391-.86.391-1.406 0-.703-.234-1.367-.664-1.992C7.656 2.352 7.109 2 6.485 2zM1.25 8.29c0 .468.117.898.352 1.366.234.469.507.86.898 1.172.39.313.781.469 1.25.469.234 0 .43-.04.625-.195.352-.235.547-.665.547-1.29 0-.43-.117-.898-.352-1.367-.234-.468-.508-.86-.898-1.172-.39-.312-.82-.468-1.25-.468-.43 0-.742.195-.938.547a1.856 1.856 0 00-.234.937zM14.18 17c.703 0 1.172-.078 1.406-.273.156-.118.273-.352.273-.665 0-.703-.351-1.484-.976-2.382a9.612 9.612 0 00-2.305-2.227c-.937-.625-1.797-.976-2.578-.976-.781 0-1.64.351-2.578.976a9.115 9.115 0 00-2.344 2.227c-.625.898-.937 1.68-.937 2.383 0 .273.039.468.156.585.234.235.664.352 1.289.352.312 0 .664-.04 1.055-.156.234-.04.586-.157 1.054-.313.47-.156.82-.234 1.094-.312.43-.078.82-.157 1.211-.157.352 0 .742.079 1.172.157.234.078.547.156 1.015.312.47.157.782.274 1.016.313.352.117.664.156.977.156zm2.07-5.703c.43 0 .82-.156 1.21-.469.392-.312.704-.703.938-1.172.235-.469.352-.898.352-1.367 0-.351-.078-.664-.234-.937-.235-.352-.547-.547-.977-.547-.43 0-.82.156-1.21.468a3.46 3.46 0 00-.938 1.172 3.017 3.017 0 00-.313 1.367c0 .626.156 1.055.547 1.29.156.156.39.195.625.195z" fill="#979899"/></svg>
						.service__card
							.service__card-icon
								img(src="./img/service-card.png")
							a(href="#").service__card-title Оберег
							.service__card-descr 0 отзывов
							.service__card-favorit
									<svg width="20" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.578 5.555c.703 0 1.25.273 1.719.82.469.547.703 1.172.703 1.953 0 .781-.234 1.524-.664 2.227-.469.742-1.016 1.289-1.68 1.64-.742.39-1.445.47-2.148.235.508.625.898 1.25 1.172 1.875.273.625.43 1.21.43 1.758 0 .859-.352 1.484-1.055 1.835-.47.235-1.094.352-1.875.352-.39 0-.82-.04-1.25-.156-.274-.078-.625-.196-1.094-.352-.82-.273-1.445-.43-1.836-.43-.43 0-1.055.157-1.914.43-.547.156-.938.274-1.211.352a5.265 5.265 0 01-1.29.156c-1.093 0-1.835-.273-2.265-.86-.312-.35-.43-.78-.43-1.328 0-.546.118-1.132.391-1.757a7.255 7.255 0 011.211-1.875c-.703.234-1.445.156-2.148-.235-.703-.351-1.25-.898-1.68-1.64A3.904 3.904 0 010 8.328c0-.742.195-1.367.625-1.914.43-.547 1.016-.86 1.797-.86.703 0 1.328.235 1.953.704a4.55 4.55 0 01-.625-2.305c0-.86.234-1.64.742-2.265C4.961 1.063 5.625.75 6.484.75c.938 0 1.72.43 2.422 1.21.586.704.938 1.563 1.094 2.5.117-.937.469-1.796 1.094-2.5.664-.78 1.484-1.21 2.422-1.21.78 0 1.445.313 1.953.938s.781 1.406.781 2.265c0 .781-.234 1.563-.625 2.305a3.077 3.077 0 011.953-.703zM13.516 2c-.625 0-1.172.352-1.641 1.016a3.217 3.217 0 00-.664 1.992c0 .547.117 1.015.39 1.406.235.39.626.586 1.094.586.625 0 1.172-.352 1.64-1.055.43-.625.665-1.289.665-1.992 0-.508-.156-.976-.39-1.367-.274-.39-.626-.586-1.094-.586zM10 5.555c-.117.86-.43 1.484-.898 1.953-.508.469-1.094.742-1.72.742-.624.04-1.25-.156-1.796-.586.273.547.469 1.094.547 1.64.078.587.039 1.133-.156 1.641a8.862 8.862 0 012.07-1.25c.703-.312 1.328-.468 1.953-.468.586 0 1.25.156 1.953.468a9.74 9.74 0 012.07 1.25c-.234-.508-.273-1.054-.195-1.64a4.62 4.62 0 01.586-1.64c-.586.39-1.21.585-1.836.585-.625 0-1.21-.273-1.68-.742-.507-.469-.82-1.094-.898-1.953zM6.484 2c-.468 0-.859.195-1.093.586-.274.39-.391.86-.391 1.367 0 .703.195 1.367.664 1.992C6.133 6.648 6.68 7 7.304 7c.47 0 .821-.195 1.094-.586.235-.39.391-.86.391-1.406 0-.703-.234-1.367-.664-1.992C7.656 2.352 7.109 2 6.485 2zM1.25 8.29c0 .468.117.898.352 1.366.234.469.507.86.898 1.172.39.313.781.469 1.25.469.234 0 .43-.04.625-.195.352-.235.547-.665.547-1.29 0-.43-.117-.898-.352-1.367-.234-.468-.508-.86-.898-1.172-.39-.312-.82-.468-1.25-.468-.43 0-.742.195-.938.547a1.856 1.856 0 00-.234.937zM14.18 17c.703 0 1.172-.078 1.406-.273.156-.118.273-.352.273-.665 0-.703-.351-1.484-.976-2.382a9.612 9.612 0 00-2.305-2.227c-.937-.625-1.797-.976-2.578-.976-.781 0-1.64.351-2.578.976a9.115 9.115 0 00-2.344 2.227c-.625.898-.937 1.68-.937 2.383 0 .273.039.468.156.585.234.235.664.352 1.289.352.312 0 .664-.04 1.055-.156.234-.04.586-.157 1.054-.313.47-.156.82-.234 1.094-.312.43-.078.82-.157 1.211-.157.352 0 .742.079 1.172.157.234.078.547.156 1.015.312.47.157.782.274 1.016.313.352.117.664.156.977.156zm2.07-5.703c.43 0 .82-.156 1.21-.469.392-.312.704-.703.938-1.172.235-.469.352-.898.352-1.367 0-.351-.078-.664-.234-.937-.235-.352-.547-.547-.977-.547-.43 0-.82.156-1.21.468a3.46 3.46 0 00-.938 1.172 3.017 3.017 0 00-.313 1.367c0 .626.156 1.055.547 1.29.156.156.39.195.625.195z" fill="#979899"/></svg>
						.service__card
							.service__card-icon
								img(src="./img/service-card.png")
							a(href="#").service__card-title Оберег
							.service__card-descr 0 отзывов
							.service__card-favorit
									<svg width="20" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.578 5.555c.703 0 1.25.273 1.719.82.469.547.703 1.172.703 1.953 0 .781-.234 1.524-.664 2.227-.469.742-1.016 1.289-1.68 1.64-.742.39-1.445.47-2.148.235.508.625.898 1.25 1.172 1.875.273.625.43 1.21.43 1.758 0 .859-.352 1.484-1.055 1.835-.47.235-1.094.352-1.875.352-.39 0-.82-.04-1.25-.156-.274-.078-.625-.196-1.094-.352-.82-.273-1.445-.43-1.836-.43-.43 0-1.055.157-1.914.43-.547.156-.938.274-1.211.352a5.265 5.265 0 01-1.29.156c-1.093 0-1.835-.273-2.265-.86-.312-.35-.43-.78-.43-1.328 0-.546.118-1.132.391-1.757a7.255 7.255 0 011.211-1.875c-.703.234-1.445.156-2.148-.235-.703-.351-1.25-.898-1.68-1.64A3.904 3.904 0 010 8.328c0-.742.195-1.367.625-1.914.43-.547 1.016-.86 1.797-.86.703 0 1.328.235 1.953.704a4.55 4.55 0 01-.625-2.305c0-.86.234-1.64.742-2.265C4.961 1.063 5.625.75 6.484.75c.938 0 1.72.43 2.422 1.21.586.704.938 1.563 1.094 2.5.117-.937.469-1.796 1.094-2.5.664-.78 1.484-1.21 2.422-1.21.78 0 1.445.313 1.953.938s.781 1.406.781 2.265c0 .781-.234 1.563-.625 2.305a3.077 3.077 0 011.953-.703zM13.516 2c-.625 0-1.172.352-1.641 1.016a3.217 3.217 0 00-.664 1.992c0 .547.117 1.015.39 1.406.235.39.626.586 1.094.586.625 0 1.172-.352 1.64-1.055.43-.625.665-1.289.665-1.992 0-.508-.156-.976-.39-1.367-.274-.39-.626-.586-1.094-.586zM10 5.555c-.117.86-.43 1.484-.898 1.953-.508.469-1.094.742-1.72.742-.624.04-1.25-.156-1.796-.586.273.547.469 1.094.547 1.64.078.587.039 1.133-.156 1.641a8.862 8.862 0 012.07-1.25c.703-.312 1.328-.468 1.953-.468.586 0 1.25.156 1.953.468a9.74 9.74 0 012.07 1.25c-.234-.508-.273-1.054-.195-1.64a4.62 4.62 0 01.586-1.64c-.586.39-1.21.585-1.836.585-.625 0-1.21-.273-1.68-.742-.507-.469-.82-1.094-.898-1.953zM6.484 2c-.468 0-.859.195-1.093.586-.274.39-.391.86-.391 1.367 0 .703.195 1.367.664 1.992C6.133 6.648 6.68 7 7.304 7c.47 0 .821-.195 1.094-.586.235-.39.391-.86.391-1.406 0-.703-.234-1.367-.664-1.992C7.656 2.352 7.109 2 6.485 2zM1.25 8.29c0 .468.117.898.352 1.366.234.469.507.86.898 1.172.39.313.781.469 1.25.469.234 0 .43-.04.625-.195.352-.235.547-.665.547-1.29 0-.43-.117-.898-.352-1.367-.234-.468-.508-.86-.898-1.172-.39-.312-.82-.468-1.25-.468-.43 0-.742.195-.938.547a1.856 1.856 0 00-.234.937zM14.18 17c.703 0 1.172-.078 1.406-.273.156-.118.273-.352.273-.665 0-.703-.351-1.484-.976-2.382a9.612 9.612 0 00-2.305-2.227c-.937-.625-1.797-.976-2.578-.976-.781 0-1.64.351-2.578.976a9.115 9.115 0 00-2.344 2.227c-.625.898-.937 1.68-.937 2.383 0 .273.039.468.156.585.234.235.664.352 1.289.352.312 0 .664-.04 1.055-.156.234-.04.586-.157 1.054-.313.47-.156.82-.234 1.094-.312.43-.078.82-.157 1.211-.157.352 0 .742.079 1.172.157.234.078.547.156 1.015.312.47.157.782.274 1.016.313.352.117.664.156.977.156zm2.07-5.703c.43 0 .82-.156 1.21-.469.392-.312.704-.703.938-1.172.235-.469.352-.898.352-1.367 0-.351-.078-.664-.234-.937-.235-.352-.547-.547-.977-.547-.43 0-.82.156-1.21.468a3.46 3.46 0 00-.938 1.172 3.017 3.017 0 00-.313 1.367c0 .626.156 1.055.547 1.29.156.156.39.195.625.195z" fill="#979899"/></svg>
						.service__card
							.service__card-icon
								img(src="./img/dog1.jpg")
							a(href="#").service__card-title Оберег
							.service__card-descr 0 отзывов
							.service__card-favorit
									<svg width="20" height="19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.578 5.555c.703 0 1.25.273 1.719.82.469.547.703 1.172.703 1.953 0 .781-.234 1.524-.664 2.227-.469.742-1.016 1.289-1.68 1.64-.742.39-1.445.47-2.148.235.508.625.898 1.25 1.172 1.875.273.625.43 1.21.43 1.758 0 .859-.352 1.484-1.055 1.835-.47.235-1.094.352-1.875.352-.39 0-.82-.04-1.25-.156-.274-.078-.625-.196-1.094-.352-.82-.273-1.445-.43-1.836-.43-.43 0-1.055.157-1.914.43-.547.156-.938.274-1.211.352a5.265 5.265 0 01-1.29.156c-1.093 0-1.835-.273-2.265-.86-.312-.35-.43-.78-.43-1.328 0-.546.118-1.132.391-1.757a7.255 7.255 0 011.211-1.875c-.703.234-1.445.156-2.148-.235-.703-.351-1.25-.898-1.68-1.64A3.904 3.904 0 010 8.328c0-.742.195-1.367.625-1.914.43-.547 1.016-.86 1.797-.86.703 0 1.328.235 1.953.704a4.55 4.55 0 01-.625-2.305c0-.86.234-1.64.742-2.265C4.961 1.063 5.625.75 6.484.75c.938 0 1.72.43 2.422 1.21.586.704.938 1.563 1.094 2.5.117-.937.469-1.796 1.094-2.5.664-.78 1.484-1.21 2.422-1.21.78 0 1.445.313 1.953.938s.781 1.406.781 2.265c0 .781-.234 1.563-.625 2.305a3.077 3.077 0 011.953-.703zM13.516 2c-.625 0-1.172.352-1.641 1.016a3.217 3.217 0 00-.664 1.992c0 .547.117 1.015.39 1.406.235.39.626.586 1.094.586.625 0 1.172-.352 1.64-1.055.43-.625.665-1.289.665-1.992 0-.508-.156-.976-.39-1.367-.274-.39-.626-.586-1.094-.586zM10 5.555c-.117.86-.43 1.484-.898 1.953-.508.469-1.094.742-1.72.742-.624.04-1.25-.156-1.796-.586.273.547.469 1.094.547 1.64.078.587.039 1.133-.156 1.641a8.862 8.862 0 012.07-1.25c.703-.312 1.328-.468 1.953-.468.586 0 1.25.156 1.953.468a9.74 9.74 0 012.07 1.25c-.234-.508-.273-1.054-.195-1.64a4.62 4.62 0 01.586-1.64c-.586.39-1.21.585-1.836.585-.625 0-1.21-.273-1.68-.742-.507-.469-.82-1.094-.898-1.953zM6.484 2c-.468 0-.859.195-1.093.586-.274.39-.391.86-.391 1.367 0 .703.195 1.367.664 1.992C6.133 6.648 6.68 7 7.304 7c.47 0 .821-.195 1.094-.586.235-.39.391-.86.391-1.406 0-.703-.234-1.367-.664-1.992C7.656 2.352 7.109 2 6.485 2zM1.25 8.29c0 .468.117.898.352 1.366.234.469.507.86.898 1.172.39.313.781.469 1.25.469.234 0 .43-.04.625-.195.352-.235.547-.665.547-1.29 0-.43-.117-.898-.352-1.367-.234-.468-.508-.86-.898-1.172-.39-.312-.82-.468-1.25-.468-.43 0-.742.195-.938.547a1.856 1.856 0 00-.234.937zM14.18 17c.703 0 1.172-.078 1.406-.273.156-.118.273-.352.273-.665 0-.703-.351-1.484-.976-2.382a9.612 9.612 0 00-2.305-2.227c-.937-.625-1.797-.976-2.578-.976-.781 0-1.64.351-2.578.976a9.115 9.115 0 00-2.344 2.227c-.625.898-.937 1.68-.937 2.383 0 .273.039.468.156.585.234.235.664.352 1.289.352.312 0 .664-.04 1.055-.156.234-.04.586-.157 1.054-.313.47-.156.82-.234 1.094-.312.43-.078.82-.157 1.211-.157.352 0 .742.079 1.172.157.234.078.547.156 1.015.312.47.157.782.274 1.016.313.352.117.664.156.977.156zm2.07-5.703c.43 0 .82-.156 1.21-.469.392-.312.704-.703.938-1.172.235-.469.352-.898.352-1.367 0-.351-.078-.664-.234-.937-.235-.352-.547-.547-.977-.547-.43 0-.82.156-1.21.468a3.46 3.46 0 00-.938 1.172 3.017 3.017 0 00-.313 1.367c0 .626.156 1.055.547 1.29.156.156.39.195.625.195z" fill="#979899"/></svg>
								




