footer 
    background: #2D3036
.footer 
    padding: 52px 0 47px
    &-blocks 
        display: flex
        justify-content: space-between
    &-block 
        &__title 
            display: block
            width: 190px
            font-family: Arsenal Regular
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 25px
            color: #999999
            padding-bottom: 14px
            border-bottom: 1px solid rgba(153, 153, 153, 0.2)
    &-nav 
        padding: 17px 0 0 0
        margin: 0
        list-style: none
        a
            display: flex
            align-items: center
            font-family: Arimo Regular
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 29px
            color: #FFFFFF
            margin-bottom: 11px
            text-decoration: none
        i 
            display: block
            width: 20px
            height: 20px
            text-align: center
            margin-right: 15px
        span 
            display: block
    &-bottom 
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 52px 
        span 
            display: flex
            align-items: center
            font-family: Arimo Regular
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 23px
            text-align: right
            color: #999999
        i 
            margin-right: 5px
            font-size: 12px

        a 
            text-decoration: none
            &:hover path
                fill: #ffffff
        svg 
            margin-left: 8px
        path 
            transition: 0.5s