footer 
    .container 
        .footer 
            .footer-blocks
                .footer-block
                    span.footer-block__title Рубрики
                        span
                            i.fas.fa-angle-down
                    ul.footer-nav 
                        li 
                            a(href="#") Животные
                        li 
                            a(href="#") Полезное
                        li 
                            a(href="#") Видео
                        li 
                            a(href="#") Новости
                        li 
                            a(href="#") События
                .footer-block
                    span.footer-block__title О проекте
                        span
                            i.fas.fa-angle-down
                    ul.footer-nav 
                        li 
                            a(href="#") Подробнее о проекте
                        li 
                            a(href="#") Информация партнерам
                        li 
                            a(href="#") Пользовательское соглашение
                        li 
                            a(href="#") Правовая информация
                        li 
                            a(href="#") Защита авторских прав
                .footer-block
                    span.footer-block__title Контакты
                        span
                            i.fas.fa-angle-down
                    ul.footer-nav 
                        li 
                            a(href="#")
                                i.far.fa-map
                                span г. Москва, Семеновская площадь, 1
                        li 
                            a(href="#")
                                i.fas.fa-phone
                                span +7 495 278 11 18
                        li 
                            a(href="#")
                                i.far.fa-envelope-open
                                span info@ilike.pet
                .footer-block
                    span.footer-block__title Мы в соцсетях
                        span
                            i.fas.fa-angle-down
                    ul.footer-nav
                        li 
                            a(href="#")
                                i.fab.fa-vk
                                span ВКонтакте
                        li 
                            a(href="#")
                                i.fab.fa-facebook-f
                                span Facebook
                        li 
                            a(href="#")
                                i.fab.fa-twitter
                                span Twitter
                        li 
                            a(href="#")
                                i.fab.fa-odnoklassniki
                                span Одноклассники
                        li 
                            a(href="#")
                                i.fab.fa-youtube
                                span Youtube
                        li 
                            a(href="#")
                                i.fab.fa-instagram
                                span Instagram
            .footer-bottom 
                span.footer-bottom__copyright
                    i.far.fa-copyright
                    span 2018 iLike.Pet. Все права защищены
                span.footer-bottom__dev 
                    span Разработка сайта —
                    a(href="#") 
                        <svg xmlns="http://www.w3.org/2000/svg" width="110" height="23" viewBox="0 0 110 23">
                            <g clip-path="url(#clip1)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4062 18.2319C23.6072 14.606 24.7467 12.2163 25.9773 8.7465C26.4075 7.54122 26.7772 6.85254 26.6448 6.17886C26.4285 5.07701 25.6648 4.75979 24.9038 5.72706C24.7828 5.88107 24.6692 6.04872 24.5669 6.20978C24.0901 6.96017 23.6953 7.71285 23.1814 8.57806C21.603 11.2354 20.3856 14.6958 19.5873 15.8803C18.4908 17.5073 16.9961 17.1983 16.5322 15.5615C15.321 16.3978 13.8492 15.5025 13.8992 13.982C13.9426 12.6664 14.3094 10.9577 14.5029 9.61033C14.7435 7.93404 15.2186 3.69897 15.181 1.38582C15.1768 1.11791 15.1499 0.884911 15.0804 0.6943C14.7967 -0.0859971 13.9676 -0.197841 13.2691 0.271244C12.8539 0.549948 12.5443 1.11531 12.3505 1.82524C12.056 2.90356 11.9374 4.04723 11.7966 5.18932C11.7042 5.93756 10.3886 12.7528 10.0875 13.3285C9.12535 15.168 5.78924 12.0441 3.30129 11.3601C0.586219 10.6135 -1.13133 11.9604 0.88341 13.128C2.25991 13.9255 6.73342 17.3021 7.85292 18.4467C8.12095 18.7207 8.19183 18.7403 8.45333 18.9838C8.84725 19.3504 9.11433 19.7039 9.51701 20.0571C12.0335 22.2637 16.4582 23.2903 19.7755 21.6408C20.4479 21.3064 20.6291 21.154 21.105 20.6806C21.8934 19.8966 22.0793 19.2188 22.4062 18.2319Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M69.8559 13.0655L70.9523 7.93554C72.5443 7.90031 75.1776 7.49965 74.0169 10.8441C73.1869 13.2354 71.6138 13.084 69.8559 13.0655ZM64.1055 22.4408L67.7357 22.4453L69.2296 15.7846C71.2235 15.5449 71.2788 16.8741 71.5751 18.3235L72.3888 22.4473L76.0543 22.4374L75.1624 18.2175C74.9458 17.1923 74.4797 16.334 74.0795 15.9408C73.8383 15.7037 73.6081 15.5665 73.3272 15.3781C73.9101 15.0297 74.364 14.8785 74.8291 14.6156C75.581 14.1904 76.28 13.6081 76.9855 12.4372C77.8426 11.0146 78.277 8.81188 77.4078 7.1715C76.5349 5.52374 75.1465 5.1798 72.6286 5.18105C70.3458 5.18219 68.0602 5.16945 65.7781 5.18412L65.2272 7.91043L67.1963 7.92463L64.1055 22.4408Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M98.1426 22.4494L101.336 22.4441L102.471 17.6136C103.853 17.4966 103.995 18.1957 104.283 19.5952L104.87 22.4493L108.209 22.4183L107.746 20.237C107.246 18.184 107.458 17.8237 106.176 16.5227L109.997 11.2392L106.547 11.2616C105.686 12.3816 104.94 13.7564 104.167 14.899L103.097 14.9122C103.031 13.9478 104.863 7.10313 105.137 5.18042L99.817 5.18496L99.3112 7.92378L101.226 7.92605C100.908 10.2258 98.1576 21.2712 98.1426 22.4494Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.0703 22.4528L36.3145 22.4211L36.9999 19.5647L37.2904 17.945L34.2833 17.9459L33.8951 19.7003L31.4905 19.7024L34.6279 5.1792L28.8623 5.23466L28.1731 7.92392L30.2887 7.92074L27.0703 22.4528Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M80.429 19.0049C80.2325 18.2966 80.3492 17.5227 80.6251 16.4846C80.9166 15.3883 81.7793 13.538 83.2276 13.9851C84.3482 14.3309 84.4195 17.5396 83.2246 19.2323C82.302 20.5393 80.913 20.7492 80.429 19.0049ZM79.4199 22.7158C79.6996 22.8189 80.0379 22.9037 80.4831 22.9474C83.4285 23.2363 85.1038 21.7683 86.0027 20.6381C86.8337 19.5934 86.9647 19.2155 87.3052 17.968C87.7768 16.2419 88.068 14.2771 86.9383 12.8247C85.7335 11.2759 83.3147 10.7553 81.0085 11.6836C79.2078 12.4086 77.8884 13.8716 77.221 15.875C76.882 16.8927 76.672 18.1048 76.7845 19.2407C76.948 20.8925 77.7853 22.1131 79.4199 22.7158Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M41.8404 16.7716C42.0091 15.568 42.6148 14.2259 43.7633 13.997C44.6905 13.8124 44.9743 14.4374 44.8449 15.1943C44.788 15.5274 44.6073 15.8479 44.3054 16.1341C43.7477 16.6626 42.8861 16.8135 41.8404 16.7716ZM38.4351 20.7609C38.5675 21.0899 38.7203 21.3355 39.1531 21.7947C41.3231 24.0967 44.8931 22.507 46.5686 21.9499L46.0325 19.6115C44.5273 20.1115 42.3252 21.1622 41.7303 18.9971C44.2065 19.1776 46.4023 18.4415 47.6175 16.3808C50.6768 11.1927 43.051 9.35078 39.793 13.4896C38.6466 14.9458 38.0528 16.4694 38.0304 18.4664C38.0198 19.415 38.0799 19.8782 38.4351 20.7609Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.4487 13.4862C56.1276 14.1254 55.7958 14.9998 56.0816 16.0338C56.59 17.8733 59.3706 18.1439 59.7097 18.9744C60.3533 20.5507 57.3546 20.7381 55.6339 19.441L55.2235 20.047C55.1296 20.2611 55.0739 20.4267 54.98 20.6481C54.8135 21.0408 54.6551 21.4319 54.4688 21.7659C55.3669 22.8609 58.1189 23.1678 59.8623 22.8095C61.9651 22.3774 63.1743 20.747 63.2685 18.7472C63.3115 17.8394 63.113 17.3686 62.2736 16.652C61.5345 16.0208 60.6793 15.845 60.0154 15.419C59.6353 15.1753 59.5359 15.1115 59.5697 14.6732C59.6319 13.867 60.2923 13.9016 61.3189 13.9328L61.101 15.1297L63.4442 15.1181L64.9841 10.5889L62.094 10.6126L61.9613 11.2894C60.514 11.2191 58.8916 11.2314 57.6972 12.0397C56.9985 12.5127 56.8181 12.7506 56.4487 13.4862Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M89.7957 22.056C90.1217 22.329 90.5798 22.5866 91.2564 22.7839C92.0128 23.0047 92.9157 23.0234 93.744 22.9204C94.3019 22.851 94.7091 22.7485 95.0719 22.654C95.5231 22.5365 95.8955 22.3988 96.3628 22.2112C96.547 22.1373 96.7459 22.0556 96.9703 21.9642L96.4222 19.638C95.3666 19.9493 91.6531 21.7814 92.0487 17.6426C92.2762 15.2635 93.0629 13.6843 95.797 13.9967L95.596 15.1315L97.9298 15.1069L99.4754 10.5927L96.6289 10.5916L96.4091 11.3741C93.1438 11.0737 91.3823 11.9371 89.9785 13.7276C88.8591 15.1552 88.3426 17.2283 88.5062 19.3115C88.5869 20.3413 88.9547 21.3518 89.7957 22.056Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M48.6211 22.4524L51.796 22.4583L53.6597 13.9121L55.4217 13.9239L56.3263 11.2832L54.2711 11.2857L54.9702 7.9244L52.1578 7.92383L51.0933 11.2841L49.4208 11.2824L48.8737 13.9101L50.3107 13.903L48.6211 22.4524Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6794 14.2254C17.287 12.964 17.7173 11.129 17.8632 9.97695C18.0056 8.85044 17.67 8.40283 16.4357 8.19847C16.1029 8.14345 15.7664 8.18631 15.4703 8.40443C15.0202 8.73758 15.0606 9.32486 14.9025 10.2879C14.5716 12.3041 13.9414 14.4422 14.8374 15.1387C15.7786 15.8705 16.327 14.9569 16.6794 14.2254Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2193 15.4154C20.2162 13.8592 21.4475 11.1256 20.8118 10.2115C20.3075 9.48656 18.8783 9.10501 18.4521 10.2633C18.116 11.1772 17.8007 12.5743 17.552 13.3729C17.2866 14.2252 16.8478 15.3702 17.2142 15.9667C17.8619 17.0214 18.8106 16.0536 19.2193 15.4154Z" fill="#999999"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.2148 9.71219L58.5079 9.70401L60.16 5.19468L57.1914 5.17944L56.2148 9.71219Z" fill="#999999"/>
                            </g>
                            <defs>
                                <clipPath id="clip1">
                                    <rect width="110" height="23" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>