@font-face {
    font-family: 'Nexa Script Regular';
    src: url('/ILIKEPET/src/fonts/NexaScript-Regular.eot');
    src: url('/ILIKEPET/src/fonts/NexaScript-Regular.eot?#iefix') format('embedded-opentype'),
    url('/ILIKEPET/src/fonts/NexaScript-Regular.woff') format('woff'),
    url('/ILIKEPET/src/fonts/NexaScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal Regular';
    src: url('/ILIKEPET/src/fonts/Arsenal-Regular.eot');
    src: url('/ILIKEPET/src/fonts/Arsenal-Regular.eot?#iefix') format('embedded-opentype'),
    url('/ILIKEPET/src/fonts/Arsenal-Regular.woff') format('woff'),
    url('/ILIKEPET/src/fonts/Arsenal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal Bold';
    src: url('/ILIKEPET/src/fonts/Arsenal-Bold.eot');
    src: url('/ILIKEPET/src/fonts/Arsenal-Bold.eot?#iefix') format('embedded-opentype'),
    url('/ILIKEPET/src/fonts/Arsenal-Bold.woff') format('woff'),
    url('/ILIKEPET/src/fonts/Arsenal-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo Regular';
    src: url('/ILIKEPET/src/fonts/Arimo.eot');
    src: url('/ILIKEPET/src/fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('/ILIKEPET/src/fonts/Arimo.woff') format('woff'),
    url('/ILIKEPET/src/fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}