@font-face {
    font-family: 'Nexa Script';
    src: url('../fonts/NexaScript-Regular.eot');
    src: url('../fonts/NexaScript-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaScript-Regular.woff') format('woff'),
    url('../fonts/NexaScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal Regular';
    src: url('../fonts/Arsenal-Regular.eot');
    src: url('../fonts/Arsenal-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arsenal-Regular.woff') format('woff'),
    url('../fonts/Arsenal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal Bold';
    src: url('../fonts/Arsenal-Bold.eot');
    src: url('../fonts/Arsenal-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arsenal-Bold.woff') format('woff'),
    url('../fonts/Arsenal-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo Regular';
    src: url('../fonts/Arimo.eot');
    src: url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo.woff') format('woff'),
    url('../fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Regular.eot');
	src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Regular.woff') format('woff'),
	url('../fonts/Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather Italic';
	src: url('../fonts/Merriweather-Italic.eot');
	src: url('../fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Italic.woff') format('woff'),
	url('../fonts/Merriweather-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arimo Bold';
	src: url('../fonts/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Arimo-Bold.woff') format('woff'),
	url('../fonts/Arimo-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}