
//Главная страница
.home
	padding-top: 50px 
	&-block 
		display: flex
	&-news
		&__title
			font-family: Nexa Script
			font-size: 32px
			line-height: 38px
			color: #D9435D
	&-review
		width: 916px
		&__title
			font-family: Nexa Script
			font-size: 32px
			line-height: 38px
			color: #D9435D
	&-gallery 
		padding-top: 39px
		padding-bottom: 84px
		background-color: rgba(46, 41, 45, 0.06)
		background-image: url('../img/bg-gallery.jpg')
	&-activities 
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		width: 100%
		padding-top: 107px

.news
	width: 290px
	border-top: 3px solid #F7D9DF
	margin: 7px 36px 0 0
	padding-top: 23px
	&-block 
		max-width: 264px
		padding-bottom: 25px
		margin-bottom: 15px
		border-bottom: 1px solid #E0E0E0
		&:last-child 
			border-bottom: none
		&__calendar
			display: block
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 24px
			color: rgba(0, 0, 0, 0.4)
		&__text
			display: block
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 24px
			color: #494A4C
			margin-top: 2px
	&-all 
		font-family: Arsenal Bold
		font-style: normal
		font-weight: bold
		font-size: 20px
		line-height: 28px
		color: #D9435D
		text-decoration: none
.review
	display: flex
	width: 100%
	justify-content: space-between
	flex-wrap: wrap
	border-top: 3px solid #F7D9DF
	margin-top: 7px
	padding-top: 23px
	&-block 
		display: flex
		align-items: flex-end
		width: 447px
		height: 300px
		height: 
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
		margin-bottom: 15px
		border-bottom: 3px solid #D9435D
		transition: 0.3s ease
		cursor: pointer
		position: relative
		&:hover 
			background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))
		&__bone 
			position: absolute
			top: -5px
			left: 15px
			span 
				position: absolute
				top: 8px
				left: 16px
				font-family: Arimo Regular
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 16px
				display: flex
				align-items: center
				text-align: center
				color: #FFFFFF
		&__fav 
			position: absolute
			top: 10px
			right: 20px
			color: #FFFFFF
			text-decoration: none
			&:hover path
				fill: #D9435D
		&__bg 
			position: absolute
			width: 100%
			height: 100%
			z-index: -1
		&__info 
			padding: 0 0 26px 15px
		&__bottom 
			width: 290px
			height: 360px
			margin-bottom: 0
	&-info 
		margin-top: 14px
		&__text 
			padding: 0
			margin: 0
			font-family: Arsenal Bold
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 30px
			display: flex
			align-items: flex-end
			color: #FFFFFF
		span 
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 16px
			color: #FFFFFF
		i 
			margin-right: 5px
	&-author 
		display: inline-block
		width: 174px
	&-calendar 
		display: inline-block
		width: 90px
	&-bottom 
		display: flex
		width: 100%
		justify-content: space-between
		flex-wrap: wrap
		margin-top: 6px
		margin-bottom: 56px
	&-btn 
		width: 208px
		height: 48px
		margin: 0 auto 99px

.block__purple 
	align-items: center !important
	flex-direction: column !important
	justify-content: flex-end !important
	background: #F2F2F2
	border-bottom: 3px solid #9B51E0 !important
	img 
		position: static !important
		width: auto !important
		height: auto !important
		z-index: 0 !important
	.review-block__fav 
		path
			fill: #BDBDBD
		&:hover path 
			fill: #D9435D
	.review-block__info 
		width: 96%
		margin-top: 25px
		.review-info__text 
			color: #494A4C
		span 
			color: #494A4C !important
	.articles-box__dark
		display: none !important
	.articles-block__info
		span
			color: #494A4C !important
	.articles-info
		&__text
			color: #494A4C !important
			padding-right: 15px
		span
			color: #494A4C !important
.btn 
	display: block
	font-family: Arsenal Bold
	font-style: normal
	font-weight: bold
	font-size: 18px
	line-height: 25px
	text-align: center
	color: #FFFFFF
	background: #D9435D
	border-radius: 24px
	outline: none
	border: none
	cursor: pointer
.gallery-block
	display: flex
	justify-content: space-between
.gallery-video
	width: 100%
	max-width: 914px
	&__title 
		display: block
		font-family: Nexa Script
		font-size: 32px
		line-height: 38px
		color: #D9435D
		margin-bottom: 13px
	&__block 
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		padding-top: 21px
		border-top: 3px solid #F7D9DF
	&__btn 
		display: block
		width: 208px
		height: 48px
		margin: 14px auto 0
.block-video 
	display: flex
	align-items: flex-end
	width: 447px
	height: 310px
	margin-bottom: 20px
	cursor: pointer
	position: relative
	text-decoration: none
	&:hover .block-video__dark 
		background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))
	&__bg 
		position: absolute
		width: 100%
		height: 100%
	&__dark 
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
	&__fav
		position: absolute
		top: 15px
		right: 16px
		&:hover path
			fill: #D9435D
	&__play 
		display: flex
		justify-content: center
		align-items: center
		width: 62px
		height: 62px
		position: absolute
		top: 50%
		left: 50%
		margin-top: -31px
		margin-left: -31px
		background: #D9435D
		opacity: 0.8
		border-radius: 50%
		text-decoration: none
		&:hover 
			opacity: 1
	&__info 
		padding: 0 0 23px 15px
		z-index: 1
		span 
			font-family: Arsenal Bold
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 32px
			color: #ffffff
.gallery-banner 
	width: 100%
	max-width: 295px
	padding-top: 74px
	&__block 
		width: 100%
		margin-bottom: 25px
		cursor: pointer
		&:last-child 
			margin-bottom: 0
		img 
			width: auto
			max-width: 100%
.activities-subscribe
	width: 567px
	height: 221px
	background-image: url('../img/bg-subscribe.png')
	background-color: #C75768
	background-repeat: no-repeat
	background-position: (100%, 50%)
	padding: 38px 0 0 43px
	&__title 
		font-family: Nexa Script
		font-size: 36px
		line-height: 43px
		color: #FFFFFF
	&__form
		width: 100%
		max-width: 361px
		position: relative
		margin-top: 33px
		input 
			width: 100%
			height: 48px
			background: #F6F6F6
			border-radius: 24px
			border: none
			padding-left: 27px
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 20px
			display: flex
			align-items: center
			color: #494A4C
			outline: none
	&__consent
		margin-top: 19px
		input
			display: none
			&:checked + label i 
				display: block
			&:checked + label:after
				width: 18px
		label 
			display: inline-block
			position: relative
			max-width: 347px
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 18px
			color: #FFFFFF
			padding-left: 34px
			&:before 
				position: absolute
				content: ''
				top: 0
				left: 0
				border-radius: 4px
				width: 18px
				height: 18px
				border: 2px solid #ffffff
			&:after 
				display: block
				position: absolute
				content: ''
				width: 0
				height: 18px
				top: 2px
				left: 2px
				border-radius: 1px
				background: #ffffff
				transition: 0.1s ease-in-out
			i 
				display: none
				position: absolute
				top: 3px
				left: 4px
				font-size: 15px
				color: #C75768
				transition: 0.5s
				z-index: 5
.subscribe-form__btn
	position: absolute
	top: 50%
	right: -20px
	margin-top: -19px
	display: flex
	justify-content: center
	align-items: center
	width: 60px
	height: 38px
	background: #D9435D
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.22)
	border-radius: 19px
.activities-share
	width: 255px
	height: 215px
	background-image: url('../img/bg-share.jpg')
	padding: 22px 20px
	&__title 
		display: block
		font-family: Nexa Script
		font-size: 36px
		line-height: 43px
		text-align: center
		color: #FFFFFF
	&__block 
		display: flex
		justify-content: center
		margin-top: 43px
		a 
			display: flex
			justify-content: center
			align-items: center
			min-width: 24px
			height: 46px
			background: #ffffff
			border-radius: 50%
			text-decoration: none
			padding: 0 11px
			margin-right: 15px
			&:hover i 
				color: #D9435D
			&:last-child 
				margin-right: 0
			.fa-vk
				color: #4C75A3
				font-size: 22px
				transition: 0.3s ease
			.fa-facebook-f
				color: #3B5998
				font-size: 22px
				transition: 0.3s ease
			.fa-twitter 
				color: #1DA1F2
				font-size: 22px
				transition: 0.3s ease
		&-vk 
			display: flex !important
			min-width: 53px !important
			border-radius: 23px !important
		p
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 33px
			display: flex
			align-items: center
			text-align: right
			color: #494A4C
			margin-left: 15px
		

.activities-social
	width: 255px
	height: 215px
	background-image: url('../img/bg-social.jpg')
	padding: 22px 20px
	&__title 
		display: block
		font-family: Nexa Script
		font-size: 36px
		line-height: 43px
		text-align: center
		color: #FFFFFF
	&__block 
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
		max-width: 168px
		margin: 17px auto 0
		a 
			display: flex
			justify-content: center
			align-items: center
			width: 46px
			height: 46px
			background: #ffffff
			border-radius: 50%
			text-decoration: none
			margin-right: 15px
			margin-bottom: 11px
			transition: 0.3s ease-in-out
			&:hover i
				color: #D9435D
			&:nth-child(3n+3)
				margin-right: 0
			&:nth-child(n+4)
				margin-bottom: 0
			.fa-vk
				color: #4C75A3
				font-size: 22px
				transition: 0.3s ease
			.fa-facebook-f
				color: #3B5998
				font-size: 22px
				transition: 0.3s ease
			.fa-twitter 
				color: #1DA1F2
				font-size: 22px
				transition: 0.3s ease
			.fa-odnoklassniki
				color: #ED812B
				font-size: 22px
				transition: 0.3s ease
			.fa-youtube
				color: #FF0000
				font-size: 22px
				transition: 0.3s ease
			.fa-instagram
				background-color: linear-gradient(222.71deg, #405DE6 11.42%, #5851DB 18.33%, #833AB4 27.84%, #C13584 37.79%, #E1306C 47.73%, #FD1D1D 57.24%, #F56040 64.83%, #F77737 72.81%, #FCAF45 81.89%, #FFDC80 89.67%)
				-webkit-background-clip: text
				-webkit-text-fill-color: trasparent
				font-size: 22px
				transition: 0.3s ease

//Страница Статьи о животных
.articles
	padding: 33px 0 62px
	background-color: rgba(46, 41, 45, 0.06)
	background-image: url('../img/bg-gallery.jpg')
	&-block
		display: flex
		justify-content: space-between
		padding-top: 35px
		&__info
			display: flex
			flex-direction: column
			justify-content: flex-end
			padding: 0 0 29px 15px
	&-main
		width: 100%
		max-width: 924px
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&-box
		display: flex
		justify-content: center
		width: 295px
		height: 354px
		overflow: hidden
		border-bottom: 3px solid #D9435D
		box-sizing: border-box
		position: relative
		&:hover 
			cursor: pointer
			.articles-box__dark
				display: none
		img
			position: absolute
			width: auto
			height: 100%
			z-index: 0
		&__fav
			z-index: 999
		&__dark
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			z-index: 1
			background: linear-gradient(0deg, rgba(0,0,0,.4), rgba(0,0,0,.4))
		&__width--610
			width: 610px
			justify-content: flex-start
			img
				width: 100%
			.articles-author
				width: 174px
				margin-bottom: 0
	&-info
		display: flex
		flex-wrap: wrap
		z-index: 1
		&__text
			display: block
			font-family: Arsenal Bold
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 32px
			color: #FFFFFF
			margin: 0 0 17px 0
			text-align: left
			z-index: 1
		span
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 16px
			color: #FFFFFF
		i
			margin-right: 5px
	&-author
		width: 100%
		text-align: left
		margin-bottom: 12px
	&-calendar
		margin-right: 9px

	

.breadcrumbs
	text-align: center
	position: relative
	&:after
		position: absolute
		content: url('../img/sprites/intermediate-svg/breadcrumbs-bottom.svg')
		bottom: -13px
		left: 50%
		margin-left: -45px
	&-item
		font-family: Arsenal Regular
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 18px
		text-align: center
		color: #D9435D
		text-decoration: none
		margin-right: 20px
		position: relative
		&:after
			position: absolute
			content: '/'
			top: 0
			right: -12px
			color: #494A4C
		&:before
			position: absolute
			content: ''
			width: 0
			height: 1px
			bottom: 0
			left: 0
			background: #D9435D
			transition: 0.3s ease-in-out
		&:hover
			&:before
				width: 100%
		&:last-child 
			&:after
				display: none
			&:before
				display: none
			&:hover 
				text-decoration: none
	&-this
		&__page 
			color: #494A4C
.title-page
	display: block
	font-family: Arsenal Bold
	font-style: normal
	font-weight: bold
	font-size: 58px
	line-height: 73px
	text-align: center
	color: #000000
	border-radius: 6px
	margin: 20px 0 40px
	padding: 0
.articles-sorting
	margin-left: auto
	margin-right: 0
.sorting 
	display: flex
	justify-content: center
	align-items: center
	padding: 10px 30px
	background: #FFFFFF
	border-radius: 20px
	max-width: 285px
	&-title 
		margin-right: 10px
	i 
		color: #D9435D
		font-size: 11px
		margin-left: 7px
		transform: translateY(0)
	&-data
		cursor: pointer
	&-rating
		margin-left: 19px
		cursor: pointer
	span 
		font-family: Arsenal Regular
		font-style: normal
		font-weight: normal
		font-size: 16px
		line-height: 22px
		text-align: right
		color: #494A4C
		&:nth-child(n+2)
			&:hover i
				animation: arrowDown 0.5s infinite
	&-select
		span
			color: #D9435D !important
			border-bottom: 1px dashed #D9435D
@keyframes arrowDown 
	0%
		transform: translateY(0)
	50%
		transform: translateY(5px)
	100%
		transform: translateY(0)

.filter-block
	width: 264px
	background: #ffffff
	padding-bottom: 30px
.filter-box 
	padding: 17px 0 17px 16px
	border-bottom: 1px solid #E0E0E0
	&__bottom
		border-bottom: none
	&__item
		display: flex
		align-items: center
		cursor: pointer
		i
			font-size: 18px
			color: #979899
			margin-right: 17px
		span
			font-family: Arsenal Bold
			font-style: normal
			font-weight: bold
			font-size: 22px
			line-height: 28px
			display: flex
			align-items: center
			color: #2D3036
	&__list
		list-style: none
		padding: 5px 0 0 29px
		text-align: left
		li
			margin-bottom: 20px
			cursor: pointer
			position: relative
			&:last-child
				margin-bottom: 0
		input
			display: none
			&:checked + label:after
				width: 18px
			&:checked + label i
				opacity: 1
		label
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 18px
			color: #494A4C
			padding-left: 30px
			cursor: pointer
			position: relative
			&:before
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 18px
				height: 18px
				border: 2px solid #D9435D
				box-sizing: border-box
				border-radius: 4px
				cursor: pointer
			&:after
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 0
				height: 18px
				background: #D9435D
				border-radius: 4px
				transition: 0.2s ease-in-out
			i   
				display: block
				position: absolute
				top: 3px
				left: 3px
				font-size: 13px
				opacity: 0
				color: #ffffff
				transition: 0.5s
				z-index: 5
.filter-btn
	&__submit
		display: flex
		justify-content: center
		align-items: center
		width: 230px
		height: 48px
		border-radius: 24px
		font-family: Arsenal Bold
		font-style: normal
		font-weight: bold
		font-size: 18px
		line-height: 25px
		color: #D9435D
		background: #FFFFFF
		border: 2px solid #D9435D
		box-sizing: border-box
		padding: 0
		margin: 47px auto 0
		outline: none
		cursor: pointer
		text-decoration: none
	&__reset
		display: block
		font-family: Arsenal Bold
		font-style: normal
		font-weight: bold
		font-size: 18px
		line-height: 25px
		text-align: center
		color: #979899
		text-decoration: none
		margin-top: 17px
.filter-tags
	width: 264px
	margin-top: 21px
	padding: 24px 12px 48px 16px
	background: #ffffff
	box-sizing: border-box
	&__title
		font-family: Arsenal Bold
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 30px
		color: #7E2A2A
	&__block
		display: flex
		flex-wrap: wrap
		padding-top: 25px
.filter-tag
	font-family: Arimo Regular
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 16px
	color: #D9435D;
	text-decoration: none
	padding: 5px 9px
	margin: 0 6px 7px 0
	border: 1px solid rgba(217, 67, 93, 0.3)
	box-sizing: border-box
	border-radius: 4px

//Страница с Новостями
.new
	padding: 33px 0 62px
	background-color: rgba(46, 41, 45, 0.06)
	background-image: url('../img/bg-gallery.jpg')
	&-main
		&__data
			font-family: Nexa Script
			font-size: 26px
			line-height: 31px
			color: #D9435D
	&-block
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-top: 15px
		padding-top: 20px
		padding-bottom: 49px
		border-top: 3px solid #F7D9DF
	&-box
		display: flex
		align-items: flex-end
		position: relative
		margin-bottom: 25px
		&:hover
			cursor: pointer
			.new-box__dark
				display: none				
		&__width--608
			max-width: 608px
		&__width--396
			max-width: 396px
			height: 295px
		&__width--290
			max-width: 290px
			justify-content: center
			overflow: hidden
		&__fav
			z-index: 5
		&__info
			position: absolute
			padding: 0 12px 29px 26px
			z-index: 5
		&__img--none
			background: #ffffff
			padding-top: 38px
			box-sizing: border-box
			.new-box__fav
				path
					fill: #000000
			.new-box__info
				position: static
				padding-right: 20px
			.articles-info__text
				margin-bottom: 0
				line-height: 0
			.new-info
				span
					color: #979899
	&-info
		span
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 21px
			color: #FFFFFF
		i
			margin-right: 10px
	&-calendar
		margin-right: 14px
	&-articles
		&__title
			display: block
			font-family: Arsenal Bold
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 32px
			color: #D9435D
		&__subtitle
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 24px
			color: #494A4C
.pagination
	padding-top: 26px
	position: relative
	&:before
		position: absolute
		display: block
		width: 100%
		height: 5px
		content: ''
		top: 0
		left: 0
		background: url('../img/sprites/intermediate-svg/breadcrumbs-bottom.svg')
	&-block
		display: flex
		align-items: center
		a
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 20px
			color: #D9435D
			text-decoration: none
			margin-right: 12px
		&__number
			display: flex
			justify-content: center
			align-items: center
			width: 32px
			height: 32px
			font-family: Arimo Regular
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 20px
			color: #D9435D
			border-radius: 50%
			background: #ffffff
	&-number
		&__this
			background: #494A4C
			color: #ffffff !important

				
		