.product-card
    &__top-line
        margin: 0 auto
        width: 1280px
        h1
            color: #2D3036
            font-size: 48px
            font-family: 'Arsenal Bold', sans-serif
            margin-top: 24px
            margin-bottom: 24px


        
    

.product-slider
    .product-card__slider-block
        width: 480px 
    .product-slider__nav
        width: 480px
    &__item
    .product-slider__nav
            .product-slider__item
                img
                    width: 96px
                    height: 88px
                    object-fit: cover