.services
    padding: 33px 0 62px
    background-color: rgba(46, 41, 45, 0.06)
    background-image: url(../img/bg-gallery.jpg)
    &__list
        width: 1244px
        margin: 0 auto
        .row
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
    &__item
        margin-bottom: 40px
        transition: .58s ease
        transition-property: flex-basis
        will-change: flex-basis
        flex-basis: 30%
        margin-right: 40px
        &-title
            font-family: 'Arsenal Bold', sans-serif
            font-size: 24px
            font-weight: 600
            color: #494A4C
            span
                font-family: 'Arsenal Regular', sans-serif
                margin-left: 9px
                align-self: flex-start
                font-size: 15px
                color: #D9435D
        &_open
            flex-basis: 100%
        &-body
            margin-top: 17px
            transition: all 1s ease
            .open-more
                width: 32px
                border-radius: 50%
                padding: 0
                text-align: center
.services-link
    text-decoration: none
    color: #494A4C
    box-sizing: border-box
    max-width: 308px
    margin-bottom: 10px
    min-height: 32px
    font-size: 16px
    display: inline-block
    align-self: baseline
    margin-right: 10px
    border: 1px solid #D9435D
    background-color: #fff
    border-radius: 16px
    line-height: 28px
    padding-left: 14px
    padding-right: 14px
    word-break: break-all
    transition: max-width .4s ease
    will-change: max-width
    &:hover
        background-color: #D9435D
        border: 1px solid #fff
        color: #fff
    &_hidden
        display: none
    &_active
            background-color: #D9435D
            border: 1px solid #fff
            color: #fff
@media screen and (max-width: 1350px)
    .services__list
        .services__item
            margin-right: 30px
@media screen and (max-width: 1280px)
    .services__list
        width: 1024px
        .services__item
            margin-right: 100px
            flex-basis: 40%
@media screen and (max-width: 1050px)
    .services__list
        width: 800px
        .services__item
            margin-right: 80px
@media screen and (max-width: 840px)
    .services__list
        width: 360px
        .services__item
            margin-bottom: 0
            flex-basis: 100%
            margin-right: 0
            margin-top: 40px
            .services__item-title
                font-size: 22px
@media screen and (max-width: 360px)
    .services__list
        width: 300px